body {
	font-family: 'Orbitron', sans-serif;
	background-color: #e6e6e6;
}

.main-container {
	width: 300px;
	height: 350px;
	margin: 30px auto 0px auto;
	background-color: BurlyWood;
	background: linear-gradient(to bottom right, BurlyWood, #ce954b);
	box-shadow: 10px 10px 8px grey;
	border-radius: 10px;
}

#headline {
	display: inline-block;
	margin: 20px 20px 10px 30px;
	font-size: 25px;
}

#reset {
	display: inline-block;
	margin: 20px 15px 15px 160px;
	font-size: 18px;
}

#reset:hover {
	cursor: pointer;
}

#board {
	width: 250px;
	height: 250px;
	margin: auto;
	background-color: blue;
	border: solid 5px white;
}

button {
	font-family: inherit;
}

.field {
	width: 80px;
	height: 80px;
	display: inline;
	float: left;
	font-size: 30px;
	outline: none;
	color: black !important;
	border-radius: 0px;
}

.field:not(:last-child) {
	margin-right: 5px;
}

.secondRow button {
	margin-top: 5px;
}

.thirdRow button {
	margin-top: 5px;
}

button.field {
	background: white;
	border: none !important;
}

.winLine {
	background-color: LightGreen !important;
}

.modal {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.modal2 {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.modalContent {
	z-index: 2;
	position: absolute;
	width: 100%;
	font-size: 35px;
	margin-top: 50px;
}

.modalContent2 {
	z-index: 2;
	position: absolute;
	width: 100%;
	font-size: 35px;
	margin-top: 30px;
}

.oxButs {
	margin: 25px 15px;
	display: inline-block;
	font-size: 60px;
}

.oxButs:hover {
	cursor: pointer;
}

.diffButs {
	margin: 25px 15px;
	display: block;
	font-size: 40px;
}

.diffButs:hover {
	cursor: pointer;
}

#signature {
	display: block;
	text-align: center;
	margin-top: 25px; 
}

a {
	text-decoration: none !important;
	color: blue !important;
}

